.deposit-manage {
  border-radius: 12px;
  background-color: white;
  &__header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #d8d8d8;
    .header-block {
      &__title {
        font-family: 'Nunito Sans';
        font-size: 16px;
        font-weight: 700;

        color: #272b41;

        padding: 1rem;
      }

      &__group-btn {
        padding: 0.5rem 1rem 0.5rem 0;
        .btn-add .icon {
          font-size: 1.5rem;
        }
      }
    }
  }

  &__box-search {
    padding: 1rem;
    padding-top: 0;
    form {
      display: flex;
      align-items: center;

      flex-wrap: wrap;

      .form-search {
        width: 30%;

        min-width: 400px;

        padding-left: 0;
        margin: 1rem 1rem 0 0;

        min-height: 40px;
        display: flex;
      }

      .form-btn {
        margin-top: 1rem;
      }

      @media screen and (max-width: 675px) {
        .form-search {
          width: 100%;

          margin-right: 0rem;

          min-width: 100%;
        }

        .form-btn {
          width: 100%;

          .btn {
            width: 100%;
          }
        }
      }
    }
  }

  &__datatable {
    .highlight-text {
      color: #00be00;
      cursor: pointer;
    }
  }
}
.search-merchant-select {
  z-index: 2;
  .merchant-async-select,
  .payment-method-select {
    &__control {
      border-radius: 12px;
      box-shadow: none;
      background-color: #eff2f7;
      border: 1px solid transparent;
      &--is-focused {
        border: 1px solid #00be00;

        box-shadow: 0px 0px 10px rgba($color: #00be00, $alpha: 0.5) !important;
      }
    }
    &__menu {
      border-radius: 12px;
      overflow: hidden;
      z-index: 2;

      box-shadow: 0 4px 11px hsl(0deg 0% 0% / 20%) !important;
    }

    &__option {
      white-space: pre;
      &--is-focused {
        background-color: #e2fee5;
      }
      &--is-selected {
        background-color: #00be00 !important;
      }
    }

    &__single-value {
      white-space: pre;
    }
  }
  .account-async-select {
    &__control {
      border-radius: 12px;
      box-shadow: none;
      background-color: #eff2f7;
      border: 1px solid transparent;
    }
  }
}

.search-merchant-select {
  text-align: left;
  width: 100%;
  .merchant-input-async-select {
    &__control {
      border-radius: 12px;
      box-shadow: none;
      background-color: transparent;
      border: none;
    }
    &__menu {
      border-radius: 12px;
      overflow: hidden;
      z-index: 2;

      box-shadow: 0 4px 11px hsl(0deg 0% 0% / 20%) !important;
    }

    &__option {
      white-space: pre;
      &--is-focused {
        background-color: #e2fee5;
      }
    }

    &__single-value {
      white-space: pre;
    }

    &__value-container {
      padding-left: 0;
    }
  }
  .merchant-async-select__value-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
