.container__manager-accounts-wallet-payme{
  .kich-hoat-payme{
    background-color: #d1fdd1;
    border-radius: 15px;
    padding: 3px 25px;
    color: #00be00;
  }
  .chua-KYC{
    background-color: #f7c5c5;
    padding: 3px 25px;
    border-radius: 15px;
    color: red;
  }
}