.modal-contract-notification{
    .modal-dialog{
        .modal-content{
            max-width: 375px!important;
            width: 100%;
            margin: 50px auto;
            .modal-header{
                .modal-title{

                }

            }
            .modal-body{

            }
        }
    }
}