.modal-changepass {
  .modal-dialog {
    .modal-content {
      max-width: 325px;
      margin: 0 auto;
      .modal-header {
        padding: 10px 20px;
        border-bottom: none;
        .modal-title {
          font-size: 18px;
        }
      }
      .modal-body {
        padding: 10px 20px 30px;
        .change-pass {
          .btn-change {
            width: 100%;
          }
        }
      }
    }
  }
}
