.setting-container {
  .card-header {
    .title {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .configuration-container {
    display: flex;
    max-width: 1059px;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    .btn-save {
      border-radius: 12px;
      background-image: linear-gradient(236deg, #00e000, #00be00);
      color: #fff;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      border: none;
      padding: 8px 0;
      min-height: 40px;
      height: 40px;
      max-width: 70px;
      width: 100%;
      margin-left: 15px;
      transition: all 0.5s;
      &:hover {
        box-shadow: 0 0 10px 1px #1ad61a5b;
      }
    }
    .btn-remove {
      background-color: transparent;
      border: 1px solid #a5aeb8;
      border-radius: 12px;
      height: 40px;
      padding: 10px;
      color: #647081;
      font-size: 15px;
      font-weight: 400;
      :hover {
        box-shadow: 0 0 10px 1px #647081;
      }
    }

    .personalize-account {
      flex: 653px;
      padding: 0 0 0 0 !important;
      h1 {
        font-size: 28px;
        font-weight: bold;
        color: #272b41;
        margin-bottom: 24px;
      }
      .personalize-pd {
        padding: 24px;
      }
      .theme-config {
        &.theme-config-mb {
          margin-bottom: 21.5px;
        }
        &.theme-config-end {
          margin-bottom: 16px;
        }
        .config-general {
          p {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #272b41;
          }
          > input {
            font-size: 15px;
            color: #000000;
            font-weight: 600;
            &::placeholder {
              font-weight: normal;
            }
          }
          .input-prefix {
            background-color: #eff2f7;
            position: relative;
            border-radius: 12px;
            span {
              position: absolute;
              top: 50%;
              left: 13px;
              transform: translateY(-50%);
              color: #647081;
              font-size: 15px;
            }
            input {
              padding-left: 83px;
              font-size: 15px;
              font-weight: 600;
              color: #000000;
            }
          }
          .theme-color {
            display: flex;
            align-items: center;
            background: #eff2f7;
            border-radius: 13px;
            margin-bottom: 12px;
            .custom-input-color {
              padding: 0;
              height: 40px;
              border: none;
              width: 100%;
              max-width: 44px;
              border-radius: 13px;
              overflow: hidden;
              cursor: pointer;
            }
            > input {
              text-transform: uppercase;
              font-weight: 600;
              color: black;
              &:focus {
                border: none;
                box-shadow: none;
                background: #eff2f7;
              }
            }
          }
          .your-logo {
            display: flex;
            .img-wrapper {
              border-radius: 24px;
              border: solid 1px #dcdcdc;
              background-color: #ffffff;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 3px;
              margin-right: 14px;
              height: fit-content;
              width: 77px;
              height: 77px;
              img {
                border-radius: 24px;
              }
            }
            .logo-content {
              .action-group {
                display: flex;
                align-items: center;
                margin-bottom: 14px;
                .custom-input-file {
                  margin-right: 12px;
                  > label {
                    max-width: 122px;
                    width: 100%;
                    height: 40px;
                    line-height: 16px;
                    display: inline-block;
                    font-size: 15px;
                    color: #00be00;
                    font-weight: 600;
                    padding: 11px 14.5px;
                    border-radius: 12px;
                    border: solid 1px #00be00;
                    background-color: transparent;
                    cursor: pointer;
                    margin: 0;
                    transition: all 0.35s;
                    &:hover {
                      box-shadow: 0 0 10px 1px #1ad61a5b;
                    }
                  }
                }
                .btn-link {
                  color: #00be00;
                  font-size: 13px;
                  font-weight: bold;
                }
              }
            }
          }
          .note {
            color: #647081;
            font-size: 13px;
            font-style: italic;
            font-weight: normal;
            &.note--min {
              font-size: 11px;
              margin-top: 8px;
            }
          }
          .title-intro {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span:last-child {
              text-align: right;
              font-size: 11px;
              color: #000050;
              font-weight: 600;
            }
          }
        }
        .theme-flex {
          display: flex;
          .theme-color {
            max-width: 308px;
            width: 100%;
          }
        }
        .desc-your-logo {
          color: #0b0b0b;
          font-size: 15px;
          font-weight: 400;
        }
      }
      .payment-method-accept {
        margin-bottom: 28px;
        > p:first-child {
          font-size: 14px;
          color: #272b41;
          font-weight: 600;
          margin-bottom: 12px;
        }
        > p:nth-child(2) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 12px;
          color: #647081;
          margin-bottom: 9px;
          padding-left: 19px;
          padding-right: 14px;
          > span:last-child {
            text-align: right;
          }
        }
        .method-item {
          border-radius: 12px;
          border: dashed 0.5px #8e8e8e;
          padding: 8px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:not(:last-child) {
            margin-bottom: 8px;
          }
          &__left {
            display: flex;
            align-items: center;
            img {
              margin-right: 12px;
            }
            span {
              font-size: 15px;
              color: #0b0b0b;
              font-weight: bold;
            }
          }
          &__right {
            display: flex;
            align-items: center;
            label {
              margin: 0;
              font-size: 12px;
              color: #647081;
              &.checkbox-custom {
                padding: 0;
                min-width: 16px;
                min-height: 16px;
                margin-left: 9px;
              }
            }
          }
        }
      }
      .save-all-button {
        border-top: 1px solid #d8d8d8;
        padding: 20px 24px;
        .btn {
          font-weight: bold;
          color: white;
          background: #00be00;
          padding: 14px 28.5px;
          height: 50px;
          margin-bottom: 12px;
        }
        p {
          font-size: 14px;
          font-style: italic;
          color: #647081;
          margin: 0;
        }
      }
      .lb-custom {
        font-size: 15px !important;
        color: #272b41 !important;
        font-weight: 600 !important;
        margin-bottom: 5px !important;
      }
    }

    .preview {
      flex: calc(100% - 653px);
      background-image: linear-gradient(to bottom, #fff, #e9ffe6);
      padding: 15px;
      > p {
        font-size: 17px;
        color: #647081;
        font-weight: bold;
        text-align: center;
        margin-top: 14px;
        margin-bottom: 20px;
      }
      .preview-card {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 265px;
        max-height: 456px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: #ffffff;
        border-radius: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
        overflow: hidden;
        &__header {
          background: #e0a02d;
          background: linear-gradient(90deg, rgba(224, 160, 45, 1) 0%, rgba(243, 176, 55, 1) 35%);
          padding: 17px 12.5px 0;
          color: #ffffff;
          min-height: 115px;
          .avatar-group {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            > img {
              height: fit-content;
              margin-right: 10px;
              border-radius: 13px;
            }
            .content {
              flex: auto;
              .preview-title {
                font-size: 16.2px !important;
                font-weight: bold !important;
                width: 100%;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical !important;
                // position:absolute;
                // top: 15px;
                // left: 60px;
                opacity: 1 !important;
              }
              p {
                margin-bottom: 0;
                &:first-child {
                  font-size: 16.2px;
                  font-weight: bold;
                }
                &:last-child {
                  font-size: 12px;
                  opacity: 0.7;
                  font-weight: 500;
                }
              }
            }
          }
          > p.desc {
            font-size: 11px;
          }
        }
        .box-content {
          position: absolute;
          max-width: 240px;
          max-height: 71px;
          width: 100%;
          height: 100vh;
          padding: 12.5px 11px;
          border-radius: 10.4px;
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
          background-color: #ffffff;
          left: 50%;
          top: 80px;
          transform: translateX(-50%);
          z-index: 5;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.13);
          .input-group {
            background: #eff2f7;
            padding: 7.4px 31.6px 5.7px 10.4px;
            border-radius: 9px;
            max-height: 47px;
            margin-bottom: 12px;
            label {
              font-size: 8.3px;
              color: #a5aeb8;
              margin: 0;
            }
            input {
              border: none;
              background: #eff2f7;
              color: #000000;
              font-size: 19.5px;
              font-weight: bold;
              width: 100%;
              height: 23.3px;
              &:focus {
                box-shadow: none;
              }
            }
          }
          .add-note {
            display: flex;
            align-items: center;
            img {
              margin-right: 4px;
            }
            span {
              font-size: 9.7px;
              color: #14242e;
            }
          }
          .item-box-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.mgb-10 {
              margin-bottom: 10px;
            }
            &__left {
              font-size: 12px;
              line-height: 18px;
              font-weight: 400;
              color: #647081;
            }
            &__right {
              color: #1b1b1b;
              font-size: 12px;
              text-align: right;
              font-weight: 400;
              .amount {
                font-size: 12px;
                font-weight: bold;
                text-align: right;
                color: #ec2a2a;
              }
            }
          }
        }
        .title-payment-resource {
          padding: 56px 12.5px 0px;
          font-size: 11.2px;
          color: #0b0b0b;
          font-weight: 600;
          margin-bottom: 5px;
        }
        .payment-resource {
          display: flex;
          flex-wrap: wrap;
          margin-right: -4px;
          margin-left: -8px;
          padding: 10px 12px 21px;
          overflow-x: auto;
          .method-item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10.5px;
            width: calc(33.33% - 8px);
            height: 54px;
            padding: 7px 10.5px;
            background-color: #eff2f7;
            margin-left: 8px;
            &.active {
              background-color: #ffffff;
              position: relative;
              &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
              }
            }

            &:not(:last-child) {
              margin-bottom: 8px;
            }
            .un-check-active {
              display: none;
            }
            .active-check {
              position: absolute;
              top: -5px;
              right: -5px;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            .logo {
              img {
                width: 100%;
                margin: 0;
              }
            }
            .title-item {
              font-size: 8.6px;
              color: #0b0b0b;
              font-weight: bold;
              max-width: 54px;
            }
            .custom-checkbox {
              display: flex;
              .checkbox-custom {
                padding: 0;
                min-width: 14px;
                min-height: 14px;
              }
              input[type='checkbox']:checked + label:after {
                background: #e0a02d;
                border-color: #e0a02d;
                width: 14px;
                height: 14px;
                border: none;
                border-radius: 50%;
              }
              input[type='checkbox'] + label:after {
                border-radius: 50%;
                border-color: #414141;
                top: -1px;
                left: -1px;
              }
              input[type='checkbox']:checked + label::before {
                font-size: 8px;
                left: 2px;
              }
            }
          }
        }
        .btn-wrapper {
          padding: 5px 12.5px 0;
          margin: auto 0 12px;
          margin: 12px 0 12px 0;

          .btn-continue {
            background: #e0a02d;
            background: linear-gradient(90deg, rgba(224, 160, 45, 1) 0%, rgba(243, 176, 55, 1) 35%);
            width: 100%;
            color: #ffffff;
            font-size: 13.6px;
          }
        }
      }
      .text-end {
        font-size: 14px;
        margin-top: 22px;
        font-weight: normal;
      }
    }

    .card-header {
      color: #272b41 !important;
      font-size: 16px !important;
      letter-spacing: 0;
      font-weight: bold !important;
    }

    @media screen and (max-width: 1350px) {
      .personalize-account {
        flex: 65% 1;
        .theme-config {
          .config-general {
            .your-logo {
              .logo-content {
                .action-group {
                  display: flex;
                  .btn-link {
                    height: 20px;
                    margin-top: 5px;
                  }
                }
              }
            }
          }
        }
      }
      .preview {
        flex: 35% 1;
      }
    }
    @media screen and (max-width: 1210px) {
      .personalize-account {
        flex: 60% 1;
        .theme-config {
          .config-general {
            .your-logo {
              .logo-content {
                .action-group {
                  display: flex;
                  .custom-input-file {
                    margin-right: 12px;
                    .custom-file-input {
                      padding: 8px 10.5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .preview {
        flex: 40% 1;
      }
    }
    @media screen and (max-width: 1110px) {
      .personalize-account {
        flex: 50% 1;
        .theme-config {
          .config-general {
            .your-logo {
              .logo-content {
                .action-group {
                  .custom-input-file {
                    margin-right: 12px;
                    .custom-file-input {
                      padding: 8px 10.5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .preview {
        flex: 50% 1;
      }
    }
  }
  
}
.configuration-manage {
  max-width: 1059px !important;
  width: 100%;
  margin: 20px auto !important;
  border-radius: 10px;
  .card {
    background: #ffffff;
    .card-header {
      display: block;
      padding: 20px 23px 10px 23px;
      .title-manage {
        color: #272b41;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        display: block;
      }
      .desc-title-manage {
        display: block;
        color: #647081;
        font-size: 14px;
        font-style: italic;
        max-width: 675px;
        width: 100%;
        margin: 0;
      }
    }
    .card-body {
      padding: 20px 23px;
      background-color: #fff;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .payment-list {
        max-width: 590px;
        width: 100%;
        margin: 20px auto;
        .title-type-payment {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            font-size: 12px;
            color: #647081;
            letter-spacing: 0;
            font-weight: 400;
          }

          .title-type-left {
            width: 25%;
            text-align: left;
          }
          .type-right {
            width: 75%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .title-type-center {
            width: 33%;
            text-align: center;
          }
          .title-type-right {
            width: 34%;
            text-align: right;
          }
        }
        .list-item-method {
          .item-method {
            border: 0.5px solid #8e8e8e56;
            padding: 10px 15px;
            margin: 5px 0;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .item-method-left {
              width: 25%;
              text-align: left;
              .img-logo-method {
                width: 24px;
                height: 24px;
                border-radius: 8px;
                display: inline-block;
                margin: 0 15px 0 0;
              }
              .title-method {
                color: #0b0b0b;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0;
              }
            }
            .item-right {
              width: 75%;
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
            .item-method-center {
              width: 30%;
              text-align: center;
              display:flex;
              flex-direction: row;
              align-items: center;
              .lb-fee {
                font-size: 12px;
                color: #647081;
                font-weight: 400;
                letter-spacing: 0;
                margin: 0;
              }
              .status {
                display: inline-block;
                color: #647081;
                font-size: 12px;
                letter-spacing: 0;
                font-weight: 400;
                margin: 0 10px 0 0;
                img {
                  margin: 0 5px 0 0;
                }
              }
            }
            .states {
              width: 50%;
            }
            .item-method-right {
              width: 20%;
              text-align: right;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              .status {
                display: inline-block;
                color: #647081;
                font-size: 12px;
                letter-spacing: 0;
                font-weight: 400;
                margin: 0 10px 0 0;
                img {
                  margin: 0 10px 0 0;
                }
              }
              .checkbox-custom {
                padding: 0;
              }
              .switch {
                position: relative;
                display: inline-block;
                width: 26px;
                height: 16px;
              }

              .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }

              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: 0.4s;
                transition: 0.4s;
              }

              .slider:before {
                position: absolute;
                content: '';
                height: 14px;
                width: 14px;
                left: 1px;
                bottom: 1px;
                background-color: white;
                -webkit-transition: 0.4s;
                transition: 0.4s;
              }

              input:checked + .slider {
                background-color: #00be00;
              }

              input:focus + .slider {
                box-shadow: 0 0 1px #00be00;
              }

              input:checked + .slider:before {
                -webkit-transform: translateX(10px);
                -ms-transform: translateX(10px);
                transform: translateX(10px);
              }

              /* Rounded sliders */
              .slider.round {
                border-radius: 34px;
              }

              .slider.round:before {
                border-radius: 50%;
              }
            }
          }
          .btn-save-list {
            border-radius: 12px;
            background-image: linear-gradient(236deg, #00e000, #00be00);
            color: #fff;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            border: none;
            padding: 8px 0;
            min-height: 40px;
            height: 40px;
            max-width: 247px;
            width: 100%;
            margin-left: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  .setting-container {
    .configuration-container {
      // flex-direction: column-reverse;
      .btn-remove {
      }
      .personalize-account {
        .theme-config {
          .config-general {
            .your-logo {
              .logo-content {
                .action-group {
                  display: flex !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .setting-container {
    .configuration-container {
      flex-direction: column-reverse;
      .btn-remove {
      }
      .personalize-account {
        .theme-config {
          .config-general {
            .your-logo {
              .logo-content {
                .action-group {
                  display: flex !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .setting-container {
    .configuration-container {
      flex-direction: column-reverse;
      .btn-remove {
        font-size: 13px;
        margin: 0 0 0 0;
      }
      .personalize-account {
        .personalize-pd {
          padding: 15px;
        }
        .theme-config {
          .config-general {
            .your-logo {
              .logo-content {
                .action-group {
                  flex-direction: column;
                  align-items: flex-start;
                  .custom-input-file {
                    margin-right: 0;
                    > label {
                      font-size: 11px !important;
                      padding: 10px !important;
                    }
                  }
                }
              }
            }
          }
          .desc-your-logo {
            font-size: 13px;
          }
          .theme-config-mb {
            margin-bottom: 0;
          }
        }
        .theme-config-mb {
          margin-bottom: 0 !important;
        }
        .save-all-button {
          padding: 10px 15px;
        }
      }
      .card {
        .card-body {
          padding: 15px !important;
          .payment-list {
            .list-item-method {
              .item-method {
                .item-method-center {
                  width: 0;
                  display: none !important;
                  .lb-fee {
                    display: none !important;
                  }
                }
              }
              .btn-save-list {
                margin-left: 0 !important;
              }
            }
          }
        }
      }
    }
    .configuration-manage {
      .card {
        .card-header {
          padding: 15px 15px !important;
          .title-manage {
            font-size: 15px !important;
          }
          .desc-title-manage {
            text-align: justify !important;
          }
        }
        .card-body {
          padding: 15px 15px !important;
          .payment-list {
            .list-item-method {
              .btn-save-list {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
