.e-wallet-history-container {
  background: #fff;

  .btn {
    white-space: nowrap;
  }

  .header-wallet-history-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #d8d8d8;

    .header-wallet-history {
      &__title {
        font-family: 'Nunito Sans';
        font-size: 17px;
        font-weight: bold;
        color: #272b41;
        margin-bottom: 0;

        > i {
          cursor: pointer;
          transition: all 0.2s;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background: #d6d6d6;
          }
        }
      }

      &__btn-group {
        display: flex;
        flex-wrap: wrap;

        &.processing-flow {
          flex-wrap: nowrap;
        }

        > button {
          min-width: fit-content;
          white-space: normal;
        }

        .filter-btn {
          &.btn-active {
            border: solid 1px #00be00;
            color: #00be00;
          }

          transition: none;
          border-radius: 12px;
          border: solid 1px #647081;

          font-family: 'Nunito Sans';
          font-size: 15px;
          font-weight: 600;
          color: #647081;

          // margin: 0 1rem;
          padding: 10px 15px;

          p {
            margin-bottom: 0;
          }
        }

        .export-btn,
        .add-btn {
          border-radius: 12px;
          font-family: 'Nunito Sans';
          font-size: 15px;
          font-weight: 600;

          padding: 11px 23px;
        }

        .export-btn {
          color: #39a7ff;
          border: 1px solid #39a7ff;
          margin-right: 1rem;
          &__image {
            background-image: url(/assets/icon/export-icon.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 18px;
            height: 16px;
          }
        }

        .add-btn {
          background: linear-gradient(90deg, rgba(0, 171, 0, 1) 0%, rgba(0, 190, 0, 1) 100%);
          color: white;
        }
      }

      @media only screen and (max-width: 500px) {
        &__btn-group {
          width: 100%;
          align-items: center;
          .btn {
            flex-grow: 1;
          }

          .filter-btn {
            width: 20%;
            margin: 10px 0;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .box-search-wallet-history-list {
    padding: 14px 3px;

    .search-by-type-wrapper {
      display: flex;
      margin-left: 16px;

      @media (max-width: 575px) {
        display: block;
        width: 100%;
      }
      @media (max-width: 486px) {
        display: block;
        width: 100%;
      }
    }

    form {
      flex-wrap: wrap;
      .form-search {
        min-width: 350px;
      }

      .merchant-dropdown-list,
      .payment-method-dropdown-list {
        min-width: 220px;
      }

      .search-by-type {
        > div {
          min-width: 180px;
        }
        @media (max-width: 575px) {
          min-width: 100%;
          padding-right: 0 !important;
        }
      }
      @media (max-width: 740px) {
        .merchant-dropdown-list {
          min-width: 100%;
        }
        .search-by-type {
        }
      }
    }

    form,
    .date-picker-customer {
      display: flex;
      flex-wrap: wrap;
      .box-date-picker {
        min-width: 190px;
      }
    }

    .form-group {
      &.search-by-type {
        margin-left: -20px;
        // max-width: 140px;
      }

      .form-label {
        margin-bottom: 3px;
        font-family: 'Nunito Sans';
        font-size: 14px;
        color: #0b0b0b;

        padding-left: 5px;
      }
      .form-control {
        height: 42px;
      }

      .btn-search {
        margin-top: 10px;
        min-width: 85px;
      }
    }
    .btn-clear {
      margin-left: 1rem;
      padding: 8px;

      border: 1px solid transparent;

      background-color: #e2fee5;
      color: #00be00;

      font-weight: 600;

      cursor: pointer;

      border-radius: 12px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .export-btn-custom {
      margin-left: 0;
    }

    .search-btn-custom {
      p {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 550px) {
      .search-button-group {
        width: 100%;
        margin-right: 1rem;

        .btn-search {
          width: 100%;
        }
      }

      .form-date {
        width: 100%;

        .box-date-picker {
          width: 100%;
        }

        .icon-from-to {
          margin: 0.5rem auto;
          transform: rotateZ(90deg);
        }
      }
    }
  }

  .amount {
    &.positive {
      color: var(--primary);
    }

    &.negative {
      color: var(--danger);
    }
  }
}
